

<div class= "jumbotron">
        
    <div class="headerText">
    <h1>CP+ Parking</h1>
        <p>Click here to <%= link_to "sign up", "#", class: "btn btn-primary btn-lg" %></p>
        </div>
</div>

